<h1>Cohort Settings</h1>

<%= form_for(@cohort) do |form| %>

<label>Cohort Name?</label><br>
<%= form.text_field :name %> <br>

<label>Start End</label><br>
<%= form.date_field :start_date %> <br>

<label>End Date</label><br>
<%= form.date_field :end_date %> <br><br>

<label>Select Students</label><br>

<%= form.collection_select :student_ids, Student.all, :id, :student_full_name, {include_blank: true},{:multiple => true, class: 'chosen-select'} %> <br>
<!-- <%= form.collection_select :student_ids, Student.order(:first_name), :id, :first_name, {}, { multiple: true, class: 'chosen-select' } %> -->


<br>



<label>Select Instructor</label><br>
<%= collection_select(:cohort, :instructor_id, Instructor.all, :id, :instructor_full_name, {include_blank: true}) %><br>

<p>
<%= form.submit "Update Cohort" %>
</p>

<% end %>
