<div class="profile-top-thing">Cohort Creation</div>


<body class="sign-up-body">

  <div class="sign-up-container">

      <div class="sign-up-box">

<%= form_for(@cohort) do |form| %>

<label>Cohort Name?</label><br>
<%= form.text_field :name %> <br>

<label>Start End</label><br>
<%= form.date_field :start_date %> <br>

<label>End Date</label><br>
<%= form.date_field :end_date %> <br>

<label>Select Students</label><br>
<%= form.collection_select :student_ids, Student.all, :id, :student_full_name, {include_blank: true},{:multiple => true, class: 'chosen-select'} %> <br>

<label>Select Instructor</label><br>
<%= collection_select(:cohort, :instructor_id, Instructor.all, :id, :instructor_full_name, {include_blank: true}) %><br>

<label>Select Course</label><br>
<!-- <%= collection_select(:course, :course_id, Course.all, :id, :name, {include_blank: true}) %><br> -->
<%= form.select(:course_id, Course.all.collect{ |course| ["#{course.id}, #{course.name}"]
                                                 },{include_blank: true })%>
<!--
<label>Upload an Avatar</label>
<%= form.file_field :avatar, direct_upload: true %> -->

<p>
  <%= form.submit "Create Cohort", {class: "btn btn-danger", id: "edit-button-style" } %>
</p>

<% end %>

</div>
</div>
</body>
