 <div class="profile-top-thing">Cohort</div>
<table>
  <tr class="top-row-table">
    <th>Cohort Name</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>


    <tr>
      <td><%= @cohort.name %></td>
      <td><%= @cohort.start_date %></td>
      <td><%= @cohort.end_date %></td>
    </tr>
</table>

<div class="somethingsoemthing">
<%= image_tag(@cohort.avatar) if @cohort.avatar.attached?%>
</div>

<p class="edit-button-all">
<%= link_to edit_cohort_path, { class: 'btn btn-danger' } do %>
Edit Profile
<% end %>
</p>


<p class="edit-button-all">
  <input type="button" class="btn btn-danger"  id="view-students-in-cohort" value="View Students"/>
</p>


<div id="stincohort">

  <br>
  <%if @cohort.students.present?%>

       <br>
       <table id="view-students-cohorts">
         <tr class="top-row-table">
           <th>Student</th>
         </tr>

         <%@cohort.students.each do |st|%>
           <tr> <td><%=st.student_full_name%></td>
         <%end%>
         <%else%>
         <p>No student added!</p>
         <%end%>
         <tr>
       </table>

  </div>

<script>
$(document).ready(function(){
  $("#view-students-in-cohort").click(function(){
    $("#stincohort").toggle();
  });
});
</script>
