<div class="profile-top-thing">Admin Signup</div>

<body class="sign-up-body">

  <div class="sign-up-container">

      <div class="sign-up-box">

<%= form_for(@admin) do |form| %>
<label>What is your first name?</label><br>
<%= form.text_field :first_name %> <br>

<label>What is your last name?</label><br>
<%= form.text_field :last_name %> <br>

<label>Email</label><br>
<%= form.email_field :email %> <br>

<label>Password</label><br>
<%= form.password_field :password %> <br>


<p>
  <%= form.submit "Update Admin", {class: "btn btn-danger", id: "edit-button-style" } %>
</p>

<% end %>

</div>
</div>
</body>
