<div class="admin-show-container">
<h1> Welcome, <%= @admin.first_name%> <%=@admin.last_name%></h1>

<p>What would you like to do today?</p>

<section id="show-all-categories">
  <div class="row">
    <div class="col-lg-6 off-set-6">
<%= link_to "Create a new student", new_student_path %>
<br>
<%= link_to "Create a new instructor", new_instructor_path %>
<br>
<%= link_to "Create a new cohort", new_cohort_path %>
<br>
<%= link_to "Create a new course", new_course_path%>
<section>



<%= link_to edit_admin_path, {class: 'btn btn-danger'} do %>
Edit Profile
<% end %>

<%= link_to "Home", root_path %>

</div>
</div>
</div>
