<body class="admin-profile-body">

<div class="profile-top-thing"> Welcome, <%= @admin.first_name%> <%=@admin.last_name%></div>

<div class="card-profile">
  <p>First Name:  <%= @admin.first_name %></p>
  <p>Last Name:  <%= @admin.last_name %></p>
  <p>Email:  <%= @admin.email %></p>

<hr>

<div class="edit-profile button">
<%= link_to edit_admin_path, {class: 'btn btn-danger admin-profile-edit'} do %>
Edit Profile
<% end %>

</div>
</div>
</body>






<!-- <%= link_to "Home", root_path %> -->
