<h2 class="hero-text-students">All Students</h2>


<table id="students-table">
  <tr class="top-row-table">
  <th class="tt-ow">First Name</th>
  <th class="tt-ow">Last Name</th>
  <th class="tt-ow">Age</th>
  <th class="tt-ow">Education</th>
  <th class="tt-ow">Students Profile</th>
  <th class="tt-ow">Remove a student</th>

  </tr>
<% @student.each do |s| %>
    <tr id="studentyoink-<%= s.id %>">
      <td><%= s.first_name %></td>

      <td class="table-styles"><%= s.last_name %></td>
      <td class="table-styles"><%= s.age %></td>
      <td class="table-styles"><%= s.education %></td>
      <td class="table-styles"><a href="/students/<%= s.id %>">View Student</a></td>
      <td class="table-styles" style="font-size: 1.5em; padding-left: 30px;    align-items: center; vertical-align: middle;justify-content: center; display: flex;
}">
        <%= link_to student_path(s.id), { method: :delete, data: {confirm: 'Are you sure?'}, :remote => true } do %>
        <i class="far fa-trash-alt animated rubberBand" id="trashbin-animation"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
</table>

<br>

   <%= link_to root_path,  { class: 'btn btn-primary goback-button' } do %>
   <i class="fas fa-long-arrow-alt-left"></i> Back
   <% end %>
