<h1>Instructor Settings</h1>

<%= form_for(@instructor) do |form| %>
<label>What is your first name?</label><br>
<%= form.text_field :first_name %> <br>

<label>What is your last name?</label><br>
<%= form.text_field :last_name %> <br>

<label>What is your age?</label><br>
<%= form.number_field :age %> <br>

<label>What is your salary?</label><br>
<%= form.number_field :salary %> <br>


<label>What is your education level?</label><br>
<%= form.select :education, ["", "Highschool Diploma", "Bachlor Degree", "Master's Degree", "Ph.D"]%><br>


<p>
  <%= form.submit "Update Instructor" %>
</p>

<% end %>
