<div class="profile-top-thing">All Instructors</div>
<table>
  <tr class="top-row-table">
  <th>First Name</th>
  <th>Last Name</th>
  <th>Age</th>
  <th>Salary</th>
  <th>Education</th>

  </tr>


    <tr>
      <td><%= @instructor.first_name %></td>
      <td><%= @instructor.last_name %></td>
      <td><%= @instructor.age %></td>
      <td><%= @instructor.salary %></td>
      <td><%= @instructor.education %></td>


    </tr>
</table>
<p class="edit-button-all">
<%= link_to edit_instructor_path, { class: 'btn btn-danger' } do %>
Edit Profile
<% end %>
</p>
