<div class="sidebar">

  <li class="links example" id="active"><%= link_to "Admin Panel", root_path %></li>
  <li class="links"><%= link_to "Students", students_path %></li>
  <li class="links"><%= link_to "Instructors", instructors_path %></li>
  <li class="links"><%= link_to "Cohorts", cohorts_path %></li>
  <li class="links"><%= link_to "Courses", courses_path %></li>

  <a href="#">Logout</a>

</div>
